# Eclipse project files
.classpath
.project
.settings/


# Intellij project files
*.iml
*.ipr
.idea/
webapp/src/main/webapp/js/bower_components/

# Others
target/
logs/
node_modules/
classes/

/webapp/node/
/webapp/node_modules/
/webapp/rev-manifest.json
*.war
.gitignore
demo.iml